<div class="p-4 md:p-6 bg-white rounded-lg shadow-md">
  <div class="flex items-center justify-between mb-6">
    <h1 class="text-2xl font-bold text-gray-800">Novo Item de Presente</h1>
    <%= link_to gift_items_path, class: "text-blue-600 hover:text-blue-800" do %>
      <i class="fas fa-arrow-left mr-1"></i> Voltar
    <% end %>
  </div>

  <%= render 'form', gift_item: @gift_item %>
</div>
